
h1{
    color: black;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
}



h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    height:150px;
    display: flex;
    background-color: lightpink;
    
}

main {
    width:100%;
    background-color: beige;
}


footer {
    width: 100%;
    height: 100px;
    background-color: lightpink;

}


p.one {
    border-style:solid;
    font-family: italic;

}

p.two {
    border-style:solid;
    font-family:italic;

}

p.three {
    border-style:solid;
    font-family:italic;

}

p.four {
    border-style:solid;
    font-family:italic;
}
