header {
    background-color: #333333;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
}

.header {
    color: white;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

img.responsive {
    width: 100%;
    height:auto;
}

.colcard {
    border: solid 1px grey;
    margin: 10px;

}

.colcard1 {
    border: solid 1px grey;
    margin: 10px;
}


.colcard2 {
    border: solid 1px grey;
    width: 40%;
}

